<div>
    <table style="border: 0.1rem solid; border-spacing: 0.5rem; display: inline-table;">
        <tr>
            <th>
            </th>
            <th>
                Attack Name
            </th>
            <th>
                Attack Status
            </th>
            <th>
                Attack Start Time
            </th>
            <th>
                Attack Stop
            </th>
        </tr>
        {% for attack in attacks %}
        <tr>
            <td>
                <input type="checkbox" name="attack_check" {% if attack.attack_check %} checked{% endif %}>
            </td>
            <td>
                {{ attack.name }}
            </td>
            <td>
                {{ attack.status }}
            </td>
            <td>
                {{ attack.startTimestamp }}
            </td>
            <td>
                <button type="button" onclick="stopAttacks([{{ attack.id }}])">Stop Attack
            </td>
        </tr>
        {% endfor %}
    </table>
    <div style="text-align: center;">
        <button disabled="disabled" onclick="stopAttacks([{% for attack in attacks %}{{ attack.id }}, {% endfor %}])">Stop</button> <!-- TODO: only send the needed IDS -->        
        <button disabled="disabled">Stop</button>

        <button onclick="window.location.href='/attacks/new_attack/'">Start New Attack</button>
    </div>
    <script>
// create an event listener for the checkbox that will enable the stop button when the checkbox is selected
        var checkboxes = document.getElementsByName('attack_check');
        var button = document.querySelector('button[disabled]');
        for (var i = 0; i < checkboxes.length; i++) {
            checkboxes[i].addEventListener('change', function () {
                if (this.checked) {
                    button.removeAttribute('disabled');
                } else {
                    button.setAttribute('disabled', 'disabled');
                }
            });
        }

        function stopAttacks(attackIds) {
            fetch('/attacks/stop', {
                method: 'POST',
                body: JSON.stringify({ attack_ids: attackIds }),
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }} '
                }
            })
                .then(response => response.json())
                .then(data => {
                    console.log('Success:', data);
                })
                .catch((error) => {
                    console.error('Error:', error);
                });
        }
    </script>
</div>